<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">
<head>
	<title>用户列表</title>
</head>
<body>
<div layout:fragment="content">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a href="index" class="maincolor">首页</a>
		<span class="c-gray en">&gt;</span> 用户管理
		<span class="c-gray en">&gt;</span> 修改用户
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
			<i class="Hui-iconfont">&#xe68f;</i>
		</a>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-25">
			<form action="updateUser" method="post" class="form form-horizontal" id="updateUserForm" th:object="${sysUser}">
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
						<div class="formControls col-xs-4 col-sm-5">
							<input type="text" name="userName" th:value="*{userName}" readonly class="input-text" autocomplete="off"/>
						</div>
					</div>

					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
						<div class="formControls col-xs-4 col-sm-5">
							<input type="text" name="realName" th:value="*{realName}" class="input-text" autocomplete="off" placeholder="2~10个中文"/>
						</div>
					</div>

					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-3">手机号：</label>
						<div class="formControls col-xs-4 col-sm-5">
							<input type="text" name="mobile" th:value="*{mobile}" class="input-text" autocomplete="off" placeholder="手机号"/>
						</div>
					</div>

					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色：</label>
						<div class="formControls col-xs-4 col-sm-5">
							<span class="select-box">
								<select th:field="*{roleCode}" name="roleCode" class="select">
									<option value="" selected="">请选择角色</option>
									<option th:each="role:${listRole}" th:value="${role.roleCode}" th:text="${role.roleName}"></option>
								</select>
							</span>
						</div>
					</div>

					<div class="row cl">
						<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-4">
							<input class="btn btn-primary radius" type="submit" value="修改">
							<input class="btn btn-primary radius" type="button" onclick="history.back(-1)" value="返回">
						</div>
					</div>
			</form>
		</article>
	</div>
<script type="text/javascript">
$(function(){
	$("#updateUserForm").validate({
		rules:{
            realName:{
                required:true,
                minlength:2,
                maxlength:10
            },/*mobile:{
                required:true,
                isPhone:true,
            },*/
			roleCode:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			form.submit();
		}
	});
});
</script>
</div>
</body>
</html>