<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<!--[if lt IE 9]>
	<script type="text/javascript" src="lib/html5.js" th:src="@{h-ui/lib/html5.js}"></script>
	<script type="text/javascript" src="lib/respond.min.js" th:src="@{h-ui/lib/respond.min.js}"></script>
	<![endif]-->

	<link rel="stylesheet" type="text/css" href="../../static/h-ui/h-ui/css/H-ui.min.css" th:href="@{/h-ui/h-ui/css/H-ui.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/h-ui/h-ui.admin/css/H-ui.admin.css" th:href="@{/h-ui/h-ui.admin/css/H-ui.admin.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/h-ui/lib/Hui-iconfont/1.0.8/iconfont.css" th:href="@{/h-ui/lib/Hui-iconfont/1.0.8/iconfont.css}"/>

	<link rel="stylesheet" type="text/css" href="../../static/h-ui/h-ui.admin/skin/default/skin.css" id="skin" th:href="@{/h-ui/h-ui.admin/skin/default/skin.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/h-ui/h-ui.admin/css/style.css" th:href="@{/h-ui/h-ui.admin/css/style.css}" />
	<!--[if IE 6]>
	<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->

	<title>修改密码 - 会员管理 - H-ui.admin v3.0</title>
	<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
	<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>

		<article class="cl pd-20">
			<form action="sysUser/updatePassWord" method="post" class="form form-horizontal" id="form-change-password">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
					<div class="formControls col-xs-8 col-sm-9" th:text="${session.userSession.realName}"></div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>原密码：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="password" class="input-text" autocomplete="off" name="oldPassWord" id="oldPassWord">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="password" class="input-text" autocomplete="off" name="passWord" id="passWord">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="password" class="input-text" autocomplete="off" name="passWord2" id="passWord2">
					</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
					</div>
				</div>
			</form>
		</article>
		<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js" th:src="@{/h-ui/lib/jquery/1.9.1/jquery.min.js}"></script>
		<script type="text/javascript" src="" th:src="@{/h-ui/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
		<script type="text/javascript" src="" th:src="@{/h-ui/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
		<script type="text/javascript" src="" th:src="@{/h-ui/lib/jquery.validation/1.14.0/messages_zh.js}"></script>
		<script type="text/javascript" src="" th:src="@{/h-ui/lib/jquery.form.js}"></script>
		<script type="text/javascript" src="lib/layer/2.4/layer.js" th:src="@{/h-ui/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript">
$(function(){
	$("#form-change-password").validate({
		rules:{
            oldPassWord:{
                required:true,
                minlength:6,
                maxlength:16
            },
            passWord:{
				required:true,
				minlength:6,
				maxlength:16
			},
            passWord2:{
				required:true,
				minlength:6,
				maxlength:16,
				equalTo: "#passWord"
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
            $(form).ajaxSubmit({
                dataType:"json",
                success:function(result){
                    if(result==1){
                        layer.msg('修改密码成功!', { icon: 1, time: 2000 },function () {
                            // var index = parent.layer.getFrameIndex(window.name);
                            // parent.layer.close(index);
                            window.parent.location = "logout";
                        });
                    }else if(result==2){
                        layer.msg('原密码输入错误!', { icon: 2, time: 2000 },function () {
                        });
                    }else{
                        layer.msg('修改密码失败!', { icon: 2, time: 2000 },function () {
                        });
                    }
                }
            });
		}
	});
});
</script>
</div>
</body>
</html>