<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">系统</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <LINK rel="Bookmark" href="../../h-ui/favicon.ico" th:href="@{h-ui/favicon.ico}"/>
    <LINK rel="Shortcut Icon" href="../../h-ui/favicon.ico" th:href="@{h-ui/favicon.ico}"/>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js" th:src="@{h-ui/lib/html5shiv.js}"></script>
    <script type="text/javascript" src="lib/respond.min.js" th:src="@{h-ui/lib/respond.min.js}"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="../../static/h-ui/h-ui/css/H-ui.min.css" th:href="@{/h-ui/h-ui/css/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/h-ui/h-ui.admin/css/H-ui.admin.css" th:href="@{/h-ui/h-ui.admin/css/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/h-ui/lib/Hui-iconfont/1.0.8/iconfont.css" th:href="@{/h-ui/lib/Hui-iconfont/1.0.8/iconfont.css}"/>

    <link rel="stylesheet" type="text/css" href="../../static/h-ui/h-ui.admin/skin/default/skin.css" id="skin" th:href="@{/h-ui/h-ui.admin/skin/default/skin.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/h-ui/h-ui.admin/css/style.css" th:href="@{/h-ui/h-ui.admin/css/style.css}" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->

    <script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js" th:src="@{/h-ui/lib/jquery/1.9.1/jquery.min.js}"></script>
    <script type="text/javascript" src="lib/layer/2.4/layer.js" th:src="@{/h-ui/lib/layer/2.4/layer.js}"></script>
    <script type="text/javascript" src="static/h-ui/js/H-ui.js" th:src="@{/h-ui/h-ui/js/H-ui.js}"></script>
    <script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.page.js" th:src="@{/h-ui/h-ui.admin/js/H-ui.admin.page.js}"></script>
    <script type="text/javascript" src="js/jCookie.js" th:src="@{/js/jCookie.js}"></script>

    <script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js" th:src="@{/h-ui/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
    <script type="text/javascript" src="lib/laypage/1.2/laypage.js" th:src="@{/h-ui/lib/laypage/1.2/laypage.js}"></script>

    <script type="text/javascript" src="" th:src="@{/h-ui/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
    <script type="text/javascript" src="" th:src="@{/h-ui/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
    <script type="text/javascript" src="" th:src="@{/h-ui/lib/jquery.validation/1.14.0/messages_zh.js}"></script>
    <script type="text/javascript" src="" th:src="@{/h-ui/lib/jquery.form.js}"></script>

</head>
<body>
<div class="container">
    <div layout:fragment="content"></div>
</div>
</body>
</html>