<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">
	<head>
		<title>weblogic列表</title>
	</head>
<body>

<div layout:fragment="content">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a th:href="@{#{staticServer}+'/index'}" class="maincolor">首页</a>
		<span class="c-gray en">&gt;</span> 服务器信息
		<span class="c-gray en">&gt;</span> weblogic管理
		<span class="c-gray en">&gt;</span> weblogic列表
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.reload();" title="刷新" >
			<i class="Hui-iconfont">&#xe68f;</i>
		</a>
	</nav>

	<div class="Hui-article">
		<article class="cl pd-20">

            <form action="weblogic" method="post" class="form form-horizontal">
                <div class="text-l" th:object="${weblogic}">
                    weblogic名称：<input type="text" class="input-text" style="width:150px" id="weblogicName" name="weblogicName" th:value="*{weblogicName}">
                    <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
                </div>
            </form>

            <div class="cl pd-5 bg-1 bk-gray mt-10">
				<span class="l">
					<a href="javascript:;" onclick="toAddWeblogic('新增weblogic','weblogic/toAddWeblogic','10001','800','510')" class="btn btn-primary radius"
                       shiro:hasPermission="/weblogic/add"><i class="Hui-iconfont">&#xe600;</i> 新增</a>
				</span>
            </div>
			<table class="table table-border table-bordered table-hover table-bg table-sort dataTables_wrapper" id="dataTables-smsSendOrder">
				<thead>
					<tr class="text-c">
						<th width="20"><input type="checkbox" name="" value=""></th>
						<th width="20">序号</th>
						<th width="100">weblogic名称</th>
						<th width="250">weblogic地址</th>
						<th width="80">weblogic用户名</th>
						<th width="80">weblogic密码</th>
                        <th width="80">负责人</th>
						<th width="20">排序</th>
                        <th width="40">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-c" th:if="${pageInfo.list.empty}">
						<td colspan="20">无数据</td>
					</tr>
					<tr class="text-c" th:each="weblogic,status : ${pageInfo.list}">
						<td><input type="checkbox" value="2" name=""></td>
						<td th:text="${status.index+1}"></td>
						<td th:title="${weblogic.description}"><a th:href="@{'weblogic/listWeblogicApp?weblogicId='+${weblogic.id}+'&weblogicName='+${weblogic.weblogicName}}" th:text="${weblogic.weblogicName }"></a></td>
						<td><a th:href="${weblogic.weblogicUrl }" th:text="${weblogic.weblogicUrl }" target="_blank"></a></td>
						<td th:text="${weblogic.weblogicUsername}"></td>
						<td th:text="${weblogic.weblogicPassword}"></td>
                        <td th:text="${weblogic.fzr}"></td>
                        <td th:text="${weblogic.px}"></td>
                        <td class="td-manage">
                            <a title="修改" th:onclick="'javascript:toUpdateWeblogic(\'修改\',\'weblogic/toUpdateWeblogic\',\'10001\',\'800\',\'510\',\''+${weblogic.id}+'\')'" shiro:hasPermission="/weblogic/update"  class="ml-5" data-toggle="tooltip" data-placement="top" style="text-decoration:none"><i class="Hui-iconfont f-16">&#xe6df;</i></a>
                            <a title="删除" th:onclick="'javascript:deleteWeblogic(\''+${weblogic.id}+'\')'" href="javascript:;" shiro:hasPermission="/weblogic/delete" class="ml-5" data-toggle="tooltip" data-placement="top" style="text-decoration:none"><i class="Hui-iconfont f-16">&#xe6e2;</i></a>
                        </td>
					</tr>
				</tbody>
			</table>
            <div th:replace="fragments/page :: pageNav(${pageInfo})"></div>
		</article>
	</div>
<script type="text/javascript">
    /*添加*/
    function toAddWeblogic(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*修改*/
    function toUpdateWeblogic(title,url,id,w,h,id){
        data = {id:id};
        layer_show(title,url,w,h);
    }

    /*删除*/
    function deleteWeblogic(id){
        layer.confirm("确认要删除吗？", {icon: 3, title:'提示'}, function(index){
            $.post("weblogic/deleteWeblogic",{id: id}, function(result) {
                if(result==1){
                    layer.msg('删除成功!', { icon: 1, time: 1000 },function () {
                        location.reload();
                    });
                }else{
                    layer.msg('删除失败!', { icon: 2, time: 1000 },function () {
                        location.reload();
                    });
                }
            });
        });
    }
</script>
</div>
</body>
</html>