<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">
	<head>
		<title>日志列表</title>
	</head>
<body>

<div layout:fragment="content">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a th:href="@{#{staticServer}+'/index'}" class="maincolor">首页</a>
		<span class="c-gray en">&gt;</span> 系统管理
		<span class="c-gray en">&gt;</span> 日志管理
		<span class="c-gray en">&gt;</span> 日志列表
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.reload();" title="刷新" >
			<i class="Hui-iconfont">&#xe68f;</i>
		</a>
	</nav>

	<div class="Hui-article">
		<article class="cl pd-20">

            <form action="sysLog" method="post" class="form form-horizontal">
                <div class="text-l" th:object="${sysLog}">
                    操作用户：<input type="text" class="input-text" style="width:100px" id="userName" name="userName" th:value="*{userName}">
                    日期范围：
                    <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}'})" id="logmin" name="startDate" th:value="*{startDate}" class="input-text Wdate" style="width:120px;">
                    -
                    <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d'})" id="logmax" name="endDate" th:value="*{endDate}" class="input-text Wdate" style="width:120px;">
                    <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
                </div>
            </form>

			<table class="table table-border table-bordered table-hover table-bg table-sort dataTables_wrapper  mt-10" id="dataTables-smsSendOrder">
				<thead>
					<tr class="text-c">
						<th width="20"><input type="checkbox" name="" value=""></th>
						<th width="40">序号</th>
						<th width="60">操作用户</th>
						<th width="100">操作IP</th>
						<th width="100">操作日期</th>
						<th width="120">URL</th>
						<th width="120">方法名</th>
						<th width="60">处理时间(毫秒)</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-c" th:if="${pageInfo.list.empty}">
						<td colspan="8">无数据</td>
					</tr>
					<tr class="text-c" th:each="sysLog,status : ${pageInfo.list}">
						<td><input type="checkbox" value="2" name=""></td>
						<td th:text="${status.index+1}"></td>
						<td th:text="${sysLog.userName}"></td>
						<td th:text="${sysLog.operaIp }"></td>
						<td th:text="${#dates.format(sysLog.operaDate,'yyyy-MM-dd HH:mm:ss')}"></td><!--th:text="${#dates.format(user.date)}"-->
						<td th:text="${sysLog.operaUrl}"></td>
						<td th:text="${sysLog.methodName}"></td>
                        <td th:text="${sysLog.dealTime}"></td>
					</tr>
				</tbody>
			</table>
            <div th:replace="fragments/page :: pageNav(${pageInfo})"></div>
		</article>
	</div>
<script type="text/javascript">

</script>
</div>
</body>
</html>