<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cars.plat.sys.dao.SysLogDao">

    <select id="listLog" parameterType="SysLog" resultType="SysLog">
        select * from DEMO.DEMO_SYS_LOG
        where 1=1
        <if test="userName!= null and userName != '' ">
            AND USER_NAME = #{userName}
        </if>
        <if test="startDate!= null and startDate != '' ">
            AND to_char(OPERA_DATE, 'yyyy-MM-dd') &gt;= #{startDate}
        </if>
        <if test="endDate!= null and endDate != '' ">
            AND to_char(OPERA_DATE, 'yyyy-MM-dd') &lt;= #{endDate}
        </if>
        order by OPERA_DATE desc
    </select>
    <!-- 插入操作日志 -->
    <insert id="addLog" parameterType="SysLog">
      insert into DEMO_SYS_LOG(LOG_ID, USER_NAME, OPERA_IP, OPERA_DATE, OPERA_URL, METHOD_NAME,DEAL_TIME)
      VALUES (#{logId},#{userName},#{operaIp},#{operaDate},#{operaUrl},#{methodName},#{dealTime} )
    </insert>
</mapper>