<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout2}">
<head>
	<link href="static/h-ui/css/H-ui.login.css" rel="stylesheet" type="text/css" th:href="@{/h-ui/h-ui.admin/css/H-ui.login.css}"/>
<title>登录</title>
</head>
<body>
<div layout:fragment="content">
<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="header"></div>
<div class="loginWraper">
	<div id="loginform" class="loginBox" style="height: 280px">
		<form class="form form-horizontal" th:action="@{/login}" th:method="post">

			<div class="row cl">
				<label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
				<div class="formControls col-xs-8">
					<input id="userName" name="userName" type="text" placeholder="账户" class="input-text size-L" th:value="admin"/>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
				<div class="formControls col-xs-8">
					<input id="passWord" name="passWord" type="password" placeholder="密码" class="input-text size-L" th:value="123456"/>
				</div>
			</div>
			<!--<div class="row cl">
				<div class="formControls col-xs-8 col-xs-offset-3">
					<input class="input-text size-L" type="text" placeholder="验证码" onblur="if(this.value==''){this.value='验证码:'}" onclick="if(this.value=='验证码:'){this.value='';}" value="验证码:" style="width:150px;"/>
					<img src="images/VerifyCode.aspx.png" />
					<a id="kanbuq" href="javascript:;">看不清，换一张</a>
				</div>
			</div>
			<div class="row cl">
				<div class="formControls col-xs-8 col-xs-offset-3">
					<label for="rememberMe">
						<input type="checkbox" name="rememberMe" id="rememberMe" value="rememberMe"/>
						使我保持登录状态</label>
				</div>
			</div>-->
			<div class="row cl">
				<label class="form-label col-xs-3"></label>
				<div class="col-xs-8">
					<p class="f-14" th:text="${msg}">12px 字体</p>
				</div>
			</div>
			<div class="row cl">
				<div class="formControls col-xs-8 col-xs-offset-3">
					<input name="" type="submit" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;" />
					<input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;重&nbsp;&nbsp;&nbsp;&nbsp;置&nbsp;" />
				</div>
			</div>
		</form>
	</div>
</div>
<div class="footer">Copyright 你的公司名称 by H-ui.admin.page.v3.0</div>
</div>
</body>
</html>