<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA_Compatible" content="IE=edge"/>
</head>
<body>
<form class="form-signin" role="form" th:action="@{/login}"  th:method="post">
    <input type="text" class="form-control" placeholder="用户名"  required="required"  name="userName" th:value="admin" />
    <input type="password" class="form-control" placeholder="密码" required="required"  name="passWord" th:value="123456" />
    <button class="btn btn-lg btn-warning btn-block" type="submit">登录</button>
    <label class="checkbox">
        <input type="checkbox" value="remember-me" /> 记住我
    </label>
    <h4 th:text="${msg}"></h4>
</form>
</body>
</html>