<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout2}">
<head>
	<title>修改项目</title>
</head>
<body>
<div layout:fragment="content">
    <article class="cl pd-10">
        <form action="update" method="post" class="form form-horizontal" id="updateForm">
            <input type="hidden" id="projectId" name="projectId"/>
            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>项目代码：</label>
                <div class="formControls col-xs-8 col-sm-8">
                    <input type="text" name="projectCode" id="projectCode" class="input-text" autocomplete="off" placeholder="1-50个英文/数字"/>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>项目名称：</label>
                <div class="formControls col-xs-8 col-sm-8">
                    <input type="text" name="projectName" id="projectName" class="input-text" autocomplete="off" placeholder="1~25个中文"/>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-3">项目简称：</label>
                <div class="formControls col-xs-8 col-sm-8">
                    <input type="text" name="shortName" id="shortName" class="input-text" autocomplete="off" placeholder="1~15个中文"/>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-3">描述：</label>
                <div class="formControls col-xs-8 col-sm-8">
                    <textarea name="description" id="description" cols="" rows="3" class="textarea" placeholder="最多500个汉字"></textarea>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-3">项目起止日期：</label>
                <div class="formControls col-xs-8 col-sm-8">
                    <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'endDate\')||\'%y-%M-%d\'}'})" id="startDate" name="startDate" class="input-text Wdate" style="width:140px;">
                    -
                    <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'startDate\')}',maxDate:'%y-%M-%d'})" id="endDate" name="endDate" class="input-text Wdate" style="width:140px;">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-3">当前版本：</label>
                <div class="formControls col-xs-8 col-sm-8">
                    <input type="text" name="version" id="version" class="input-text" autocomplete="off" placeholder=""/>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>状态：</label>
                <div class="formControls col-xs-8 col-sm-8">
                    <span class="select-box">
                        <select class="select" size="1" name="status" id="status">
                            <option value="">请选择应用状态</option>
                            <option value="1">生产应用</option>
                            <option value="2">测试应用</option>
                        </select>
                    </span>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>联系人：</label>
                <div class="formControls col-xs-8 col-sm-8">
                    <input type="text" name="fzr" id="fzr" class="input-text" autocomplete="off" placeholder=""/>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>联系人电话：</label>
                <div class="formControls col-xs-8 col-sm-8">
                    <input type="text" name="phone" id="phone" class="input-text" autocomplete="off" placeholder="座机或手机号"/>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-3">svn地址：</label>
                <div class="formControls col-xs-8 col-sm-8">
                    <input type="text" name="svn" id="svn" class="input-text" autocomplete="off" placeholder=""/>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-3">备注：</label>
                <div class="formControls col-xs-8 col-sm-8">
                    <textarea name="remark" id="remark" class="textarea" placeholder=""></textarea>
                </div>
            </div>

            <div class="row cl">
                <div class="col-xs-12 col-sm-12 text-c">
                    <input class="btn btn-primary radius" type="submit" value="修改">
                </div>
            </div>
        </form>
    </article>
<script type="text/javascript">
$(function(){
    $.ajax({
        type:'post',
        url:'getById',
        data:{
            id: parent.data.projectId,
        },
        success:function(dat){
            $("#projectId").val(dat.projectId);
            $("#projectCode").val(dat.projectCode);
            $("#projectName").val(dat.projectName);
            $("#shortName").val(dat.shortName);
            $("#description").val(dat.description);
            $("#startDate").val(dat.startDate);
            $("#endDate").val(dat.endDate);
            $("#version").val(dat.version);
            $("#status").val(dat.status);
            $("#fzr").val(dat.fzr);
            $("#phone").val(dat.phone);
            $("#svn").val(dat.svn);
            $("#remark").val(dat.remark);
        }
    });

	$("#updateForm").validate({
		rules:{
            projectCode:{
                required:true,
                isEnglish:true,
                maxlength:50
            },projectName:{
                required:true,
                maxlength:25
            },shortName:{
                required:false,
                maxlength:15
            },description:{
                required:false,
                maxlength:500
            },startDate:{
                required:false
            },endDate:{
                required:false
            },version:{
                required:false
            },status:{
                required:true
            },phone:{
                required:false,
                isTel:true,
            },fzr:{
                required:true,
                maxlength:15
            },svn:{
                required:false,
                url:true,
                maxlength:100
            },remark:{
                required:false,
                maxlength:250
            }
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
            $(form).ajaxSubmit({
                dataType:"json",
                success:function(result){
                    if(result==1){
                        layer.msg('修改成功!', { icon: 1, time: 1000 },function () {
                            window.parent.location.reload();
                        });
                    }else{
                        layer.msg('修改失败!', { icon: 2, time: 1000 },function () {
                            window.parent.location.reload();
                        });
                    }
                }
            });
		}
	});
});
</script>
</div>
</body>
</html>