<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="pageNav(pageInfo)">
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
        <div class="dataTables_length" id="DataTables_Table_0_length">
            <label class="dataTables_info">
                显示 <span th:text="${pageInfo.startRow}"></span> 到 <span th:text="${pageInfo.endRow}"></span> 条，共 <span th:text="${pageInfo.total}"></span> 条，每页显示
                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="select" id="fySelect">
                    <option value="1"  th:selected="${pageInfo.pageSize == 1}">1</option>
                    <option value="2" th:selected="${pageInfo.pageSize == 2}">2</option>
                    <option value="10" th:selected="${pageInfo.pageSize == 10}">10</option>
                    <option value="20" th:selected="${pageInfo.pageSize == 20}">20</option>
                </select> 条
            </label>
        </div>
        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">

            <th:block th:if="${pageInfo.hasPreviousPage}">
                <!--<a th:href="@{'?PageNum='+${pageInfo.prePage}}" class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous" >上一页</a>-->
                <a th:onclick="'javascript:page(\''+${pageInfo.prePage}+'\')'" class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous" >上一页</a>
            </th:block>

            <span>
                <th:block th:each="nav : ${pageInfo.navigatepageNums}" >
                    <!--<a th:href="@{'?PageNum='+${nav}}" th:text="${nav}" class="paginate_button" th:style="${nav==pageInfo.pageNum}?'background:#5a98de;color:#fff':''" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a>-->
                    <a th:onclick="'javascript:page(\''+${nav}+'\')'" th:text="${nav}" class="paginate_button" th:style="${nav==pageInfo.pageNum}?'background:#5a98de;color:#fff':''" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a>
                </th:block>
            </span>

            <th:block th:if="${pageInfo.hasNextPage}">
                <!--<a th:href="@{'?PageNum='+${pageInfo.nextPage}}" class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">下一页</a>-->
                <a th:onclick="'javascript:page(\''+${pageInfo.nextPage}+'\')'" class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">下一页</a>
            </th:block>
        </div>
    </div>
    <script type="text/javascript">
        var pathname = window.location.pathname;
        pathname = pathname.substr(pathname.indexOf("/",2),pathname.length);
        var f = $("form");
        $(function(){
            if(f.length>0){
                f.append("<input type='hidden' id='pageSize' name='pageSize'/>").append("<input type='hidden' id='pageNum' name='pageNum'/>");
            }

            $("#fySelect").bind("change",function(){
                page(1);
            });

        });

        function page(pageNum) {
            if(f.length>0){
                $("#pageSize").val($("#fySelect").val());
                $("#pageNum").val(pageNum);
                f.submit();
            }else{
                window.location.href = '[[#{staticServer}]]'+pathname+"?pageSize="+$("#fySelect").val()+"&pageNum="+pageNum;
            }
        }
    </script>
</div>
</body>
</html>